*,
*::before,
*::after {
  box-sizing: border-box; }

ul[class],
ol[class] {
  padding: 0; }

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

ul[class],
ol[class],
li[class] {
  list-style-type: none;
  list-style: none; }

a:not([class]) {
  text-decoration-skip-ink: auto; }

img {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

* {
  font-family: Roboto, Arial, Helvetica, sans-serif; }

.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-bottom: 1px solid #dad8d8; }
  .header .container {
    width: 1152px;
    margin: 0 auto;
    padding: 0px 15px; }
    .header .container .header_inner {
      display: flex;
      text-align: center;
      justify-content: space-between;
      align-items: center;
      min-width: 1000px; }
    .header .container .nav {
      padding: 15px;
      display: flex;
      justify-content: space-between; }
      .header .container .nav .list {
        padding: 15px;
        border-bottom: 1px solid white; }
        .header .container .nav .list .list_item_link {
          text-decoration: none; }
        .header .container .nav .list .list_item_link:hover {
          color: #059bff; }
      .header .container .nav .list:hover {
        border-bottom: 1px solid #059bff; }

.main {
  margin-top: 80px; }
  .main .container {
    width: 1152px;
    margin: 0 auto;
    padding: 0px 15px; }
    .main .container .main_inner_header {
      margin: 0 auto;
      display: flex;
      padding: 50px;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .main .container .main_inner_header .main_header {
        font-size: 50px;
        padding: 30px 0px; }
      .main .container .main_inner_header .main_search {
        width: 100%;
        display: flex;
        justify-content: space-between;
        line-height: px; }
        .main .container .main_inner_header .main_search .main_search_categoties {
          width: 248px;
          border: 2px solid #d9d9d9;
          border-radius: 4px;
          padding: 0px 10px;
          outline: none; }
        .main .container .main_inner_header .main_search .main_search_categoties:hover {
          border: 2px solid #b2c9f1; }
        .main .container .main_inner_header .main_search .main_search_podcast {
          border: 2px solid #d9d9d9;
          border-radius: 4px;
          padding: 0px 10px;
          outline: none;
          width: 365px; }
        .main .container .main_inner_header .main_search .main_search_podcast:hover {
          border: 2px solid #b2c9f1; }
    .main .container .main_content_inner {
      font-weight: 500;
      display: flex;
      flex-direction: column; }
      .main .container .main_content_inner .top_content .cantmiss_content .title {
        padding: 8px;
        font-size: 22px;
        font-weight: 500; }
      .main .container .main_content_inner .top_content .cantmiss_content .wrapper, .main .container .main_content_inner .top_content .cantmiss_content .cantmiss_wrapper {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        max-width: 1152px;
        flex-flow: wrap; }
        .main .container .main_content_inner .top_content .cantmiss_content .wrapper .item_card, .main .container .main_content_inner .top_content .cantmiss_content .cantmiss_wrapper .item_card {
          font-weight: 400;
          display: flex;
          margin: 8px;
          align-items: flex-start;
          flex-wrap: wrap;
          height: 300px;
          width: 204px; }
          .main .container .main_content_inner .top_content .cantmiss_content .wrapper .item_card .item_card_img .img_item, .main .container .main_content_inner .top_content .cantmiss_content .cantmiss_wrapper .item_card .item_card_img .img_item {
            max-width: 204px;
            max-height: 204px; }
          .main .container .main_content_inner .top_content .cantmiss_content .wrapper .item_card .item_card_img .img_item:hover, .main .container .main_content_inner .top_content .cantmiss_content .cantmiss_wrapper .item_card .item_card_img .img_item:hover {
            transition: opacity 124ms linear, transform 124ms linear;
            opacity: 0.3; }
          .main .container .main_content_inner .top_content .cantmiss_content .wrapper .item_card .item_card_link, .main .container .main_content_inner .top_content .cantmiss_content .cantmiss_wrapper .item_card .item_card_link {
            text-decoration: none;
            color: black;
            font-size: 14px; }
      .main .container .main_content_inner .latest .latest_wrapper {
        display: flex;
        flex-direction: row; }
        .main .container .main_content_inner .latest .latest_wrapper .latest_item {
          height: 204px;
          width: 204px;
          display: flex;
          justify-content: center; }
