*,
*::before,
*::after {
  box-sizing: border-box; }

ul[class],
ol[class] {
  padding: 0; }

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

ul[class],
ol[class],
li[class] {
  list-style-type: none;
  list-style: none; }

a:not([class]) {
  text-decoration-skip-ink: auto; }

img {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

* {
  font-family: Roboto, Arial, Helvetica, sans-serif; }

.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  border-bottom: 1px solid #dad8d8; }
  .header__inner {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px; }

.nav {
  padding: 15px;
  display: flex;
  justify-content: space-between; }
  .nav__list {
    padding: 15px;
    border-bottom: 1px solid white; }
  .nav__list:hover {
    border-bottom: 1px solid #059bff; }
  .nav__list-link {
    text-decoration: none; }
  .nav__list-link:hover {
    color: #059bff; }

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto; }

.main {
  font-family: 'Lato', sans-serif;
  padding-bottom: 200px; }
  .main__title {
    color: #000;
    margin-top: 65px;
    padding: 60px 0 40px 0;
    text-align: center;
    font-size: 46px;
    font-weight: 500; }

.search {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .search__categories {
    width: 248px;
    border: 2px solid #d9d9d9;
    border-radius: 4px;
    padding: 0px 10px;
    outline: none; }
  .search__podcast {
    border: 2px solid #d9d9d9;
    border-radius: 4px;
    padding: 0px 10px;
    outline: none;
    width: 365px; }
  .search__categories:hover {
    border: 2px solid #b2c9f1; }
  .search__podcast:hover {
    border: 2px solid #b2c9f1; }

.cards__title {
  font-size: 20px;
  padding: 30px 5px 5px; }

.cards__wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; }

.item {
  font-weight: 400;
  display: flex;
  margin: 8px;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 300px;
  width: 204px; }
  .item__link {
    text-decoration: none;
    color: black;
    position: relative; }
  .item__img {
    z-index: 1001;
    background-color: black;
    position: absolute;
    background-color: black; }
  .item__img:hover {
    transition-duration: 0.4s;
    opacity: 0.5; }
  .item__play {
    z-index: 1000;
    position: inheriabt;
    height: 204px;
    width: 204px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black; }
