@import './base/reset';



@mixin inputHover {
    border: 2px solid #b2c9f1;
}
$gray-border: #d9d9d9;
$rgb-white-background: rgb(255, 255, 255);
$link-blue: #059bff;

*{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.header {
    background-color: $rgb-white-background;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1002;
    border-bottom: 1px solid rgb(218, 216, 216);

        &__inner{
            display: flex;
            text-align: center;
            justify-content:space-between;
            align-items: center;
            max-width: 1130px;
            }
}

.nav {
    padding: 15px 0 15px 15px;
    display: flex;
    justify-content: space-between;

        &__list{
            padding: 15px;
            border-bottom: 1px solid $rgb-white-background;
            }

        &__list:hover {
            border-bottom: 1px solid $link-blue;
            }

        &__list-link{
            text-decoration: none;
        }

        &__list-link:hover{
            color:$link-blue
        } 
}

.container {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    font-family: 'Lato', sans-serif;
    &__title {
      color: #000;
      margin-top: 65px;
      padding: 60px 0 40px 0;
      text-align: center;
      font-size: 46px;
      font-weight: 500;
    }

}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
        &__categories{
            width: 248px;
            border: 2px solid $gray-border;
            border-radius: 4px;
            padding: 0px 10px;
            outline: none; 
        }
        &__podcast{
            border: 2px solid $gray-border;
            border-radius: 4px;
            padding: 0px 10px;
            outline: none;
            width: 365px;
        }
        &__categories:hover {
            @include inputHover()
        }
        &__podcast:hover {
            @include inputHover()
        }
}

.cards {
    &__title {
        font-size: 20px;
        padding: 30px 5px 5px;
    }
    &__wrapper {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

    }
}

.item {       
    font-weight: 400;
    display: flex;
    margin: 8px;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 300px;
    width: 204px;

    &__link {
        text-decoration: none;
        color: black;
        position: relative;
    }
    &__img {
        z-index: 1001;
        background-color:black;
        position: absolute;
        background-color: black;
    }
    &__img:hover {
        transition-duration: 0.4s;
        opacity: 0.5;
    }
    &__play {
        z-index: 1000;
        position: inheriabt;
        height: 204px;
        width: 204px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
    }
    &__descripion{

    }
}

.footer {
    height: 350px;
    background-color: rgb(35, 30, 41);
    padding: 60px 288px;
    color: #d9d9d9;
    &__container {
        &-main{
            display: flex;
            flex-direction: row;
            padding-bottom: 90px;
            justify-content: space-between;
        }
        &-link {
            color: #d9d9d9;
        }
        &-link:hover {
            text-decoration: underline;
        }
        &-content{
            display: flex;
            flex-direction: column;
        }
        &-logo {
            width: 195px;
            height: 34px;
        }
        &-social {
            display: flex;
            flex-direction: row;
        }
        &-bottom {
            display: flex;
            justify-content: space-between;
        }

    }
    .icon {
        padding: 5px;
    }
}
